.top {
    background-color: #f8f8f8;
    color: rgb(65, 204, 65);
    text-align:center;
    padding: 8px;
    font-size: 11px;
    text-transform: uppercase; /*convierteel texto en mayusculas*/    
}
.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
/*pendiete el logo por organizar con la imageny mirar para que srive lo del estilo en letra*/
.logo {
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 4px;
    
}
.menu-izquierdo, .menu-derecho {
    display: flex;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
}

