<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>
            Administración de Productos
        </h2>
        <button
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#modalProducto">
            🆕 Nuevo Producto
        </button>
    </div>
    <table class="table table-hover table-bordered align-middle">
        <thead class="table-light">
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>
                    <img [src]="'http://localhost:3000/uploads/productos/' + producto.imagen" 
                    alt="Product" 
                    style="width: 50px; height: 50px; object-fit: cover;">

                </td>
                <td>
                    {{ producto.nombre }}
                </td>
                <td>
                    {{ producto.categoria }}
                </td>
                <td>
                    {{ producto.precio | currency:'COP':'symbol':'1.0-0' }}
                </td>
                <td>
                    {{ producto.stock }}
                </td>
                <td>
                    <button
                        class="btn btn-warning btn-sm me-2"
                        (click)="editarProducto(producto)"
                        data-bs-toggle="modal"
                        data-bs-target="#modalProducto">
                        ✍
                    </button>
                    <button
                        class="btn btn-danger btn-sm"
                        (click)="eliminarProducto(producto._id)">
                        🚮
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div
    class="modal fade"
    id="modalProducto"
    tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form
                [formGroup]="form"
                (ngSubmit)="productoEditando ? actualizarProducto() : guardarProducto()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ productoEditando ? '✏️ Editar Producto' : '🆕 Nuevo Producto' }}
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">
                                Nombre
                            </label>
                            <input
                                class="form-control"
                                formControlName="nombre">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label">
                                Descripción
                            </label>
                            <textarea
                                class="form-control"
                                formControlName="descripcion">
                            </textarea>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">
                                Categoría
                            </label>
                            <input
                                class="form-control"
                                formControlName="categoria">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">
                                Precio
                            </label>
                            <input
                                type="number"
                                class="form-control"
                                formControlName="precio">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">
                                Stock
                            </label>
                            <input
                                type="number"
                                class="form-control"
                                formControlName="stock">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <label for="inputFile">Seleccionar archivo</label>
                            <input type="file" id="inputFile" (change)="onFileSelected($event)" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">
                                Pulgadas
                            </label>
                            <input
                                class="form-control"
                                formControlName="largo">
                        </div>                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button
                        type="submit"
                        class="btn btn-success">
                        {{ productoEditando ? 'Actualizar Producto' : 'Guardar Producto' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>