.producto{
    border:none;
    transition:.3s;
    border-radius:18px;
}

.producto:hover{
    transform:translateY(-8px);
}

.card-img-top{
    height:330px;
    object-fit:cover;
}

.precio{
    font-size:22px;
    font-weight:bold;
    color:var(--color-principal);
}

.btn-dorani{
    background:var(--color-principal);
    color:white;
    border-radius:30px;
    padding:10px 25px;
}

.btn-dorani:hover{
    background:var(--color-principal-hover);
}