<!-- Envolvemos el div principal con *ngIf para proteger todo el componente -->
<div class="card producto shadow h-100" *ngIf="producto">
    
    <img [src]="'http://localhost:3000/uploads/productos/' + producto.imagen"
        alt="Producto"
        class="card-img-top"
        style="height: 250px; object-fit: cover;">
    <div class="card-body text-center">
        <h5>{{ producto.nombre }}</h5>
        <p>{{ producto.descripcion }}</p>
        <p class="fw-bold">${{ producto.precio }}</p>
    </div>
    
</div>

