<div class="card producto shadow h-100">
    <img
        [src]="'assets/productos/' + producto.imagen"
        class="card-img-top">
    <div class="card-body text-center">
        <h5>
            {{ producto.nombre }}
        </h5>
        <p>
            {{ producto.descripcion }}
        </p>
        <h4 class="precio">
            {{ producto.precio | currency:'COP':'symbol':'1.0-0' }}
        </h4>
        <button class="btn btn-dorani">
            Comprar
        </button>
    </div>
</div>