<!-- Barra superior -->
<div class="top-bar text-center py-2">
🚚 Envíos contra entrega Cali y Jamundi |🚚 Envíos a todo Colombia | 💖 Cabello 100% Natural | 📱 Atención por WhatsApp
</div>

<nav class="navbar shadow-sm">
    <div class="container">
        <div class="nav-left">
            <a routerLink="/">Inicio</a>
            <a routerLink="/catalogo">Catálogo</a>
        </div>
        <div class="nav-logo">
            <a routerLink="/">
            <img
                src="../../../assets/logo.png" alt="Extensiones Dorani" class="logo">
            </a>
        </div>

        <div class="nav-right">
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">🛍️</a>
            <a routerLink="/login">
            👤 Mi Cuenta
            </a>
        </div>
    </div>
</nav>