.top-bar-marquee {
  background-color: #444141;
  color: #ffffff;
  padding: 10px 0;
  font-size: 0.9rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: traslado-completo 30s linear infinite; /* Subimos a 30s para que vaya suave al tener más texto */
}

.marquee-content span {
  display: inline-block;
  padding-right: 60px; /* Espacio ideal entre cada bloque de texto */
}

/* Animación ajustada para el traslado de texto largo */
@keyframes traslado-completo {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-25%, 0, 0); /* Cambiado a -25% para que acople perfecto con las 4 repeticiones */
  }
}




.navbar{
    background:white;
    padding:18px 0;
    border-bottom:1px solid #eee;
}

.navbar .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-left,
.nav-right{
    display:flex;
    gap:35px;
    align-items:center;
    width:35%;
}

.nav-right{
    justify-content:flex-end;
}

.logo{
    width:190px;
    transition:.4s;
    cursor:pointer;
}

.logo:hover{
    transform:scale(1.05);
}

.nav-left a,
.nav-right a{
    text-decoration:none;
    color:#444;
    font-weight:600;
    transition:.3s;
}

.nav-left a:hover,
.nav-right a:hover{
    color:#d96b9b;
}