<section class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h5 class="text-uppercase">
                    Bienvenida a
                </h5>
                <h1>
                    Extensiones Dorani
                </h1>
                <p>
                    Descubre nuestras extensiones de cabello
                    100% natural, con calidad premium y
                    envíos a toda Colombia.
                </p>
                <a
                    routerLink="/catalogo"
                    class="btn btn-dorani">
                    Ver Catálogo
                </a>
            </div>
            <div class="col-lg-6 text-center">
                <img
                    src="../../../assets/banner.png"
                    class="img-fluid hero-image"
                    alt="Banner Dorani">
            </div>
        </div>
    </div>
</section>
