<section class="container my-5">
    <div class="row text-center">
        <div class="col-md-4">
            <h1>🚚</h1>
            <h5>Envíos Nacionales</h5>
            <p>
                Llegamos a cualquier ciudad de Colombia.
            </p>
        </div>
        <div class="col-md-4">
            <h1>💖</h1>
            <h5>Cabello 100% Natural</h5>
            <p>
                Productos de excelente calidad.
            </p>
        </div>
        <div class="col-md-4">
            <h1>⭐</h1>
            <h5>Atención Personalizada</h5>
            <p>
                Te ayudamos a elegir el color perfecto.
            </p>
        </div>
    </div>
</section>
