<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Extensiones Dorani</h5>
                <p>
                    Cabello 100% natural de excelente calidad.
                </p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/catalogo">Catálogo</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contáctanos</h5>
                <p>📱 WhatsApp</p>
                <p>📍 Santander de quilichao - Colombia</p>
                <p>✉ info&#64;extensionesdorani.com</p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            © 2026 Extensiones Dorani | Todos los derechos reservados.
        </div>
    </div>
</footer>
